<template>
  <div>
    <modal v-if="isModalVisible" v-bind="{selectedMovie, onClose, filterByType}"></modal>

    <header>
      <h1>Movies List</h1>
    </header>

    <main>
      <nav>
        <a @click="filterByType('all')">All</a>
        <a @click="filterByType('action')">Action</a>
        <a @click="filterByType('adventure')">Adventure</a>
        <a @click="filterByType('animation')">Animation</a>
        <a @click="filterByType('crime')">Crime</a>
        <a @click="filterByType('drama')">Drama</a>
        <a @click="filterByType('fantasy')">Fantasy</a>
        <a @click="filterByType('horror')">Horror</a>
        <a @click="filterByType('mystery')">Mystery</a>
        <a @click="filterByType('thriller')">Thriller</a>
      </nav>
      <div class="movies">
        <a class="movie" v-for="movie in movies" :key="movie.id"  @click="showModal(movie)">
          <img v-bind:src="movie._movie_image">
          <div class="movie-info">
            <h2>{{ movie._movie_title }}</h2>
            <span>{{ movie._movie_directorName }},</span>
            <span>{{ movie._movie_year }}</span>
          </div>
        </a>
      </div>
    </main>
  </div>
</template>

<script>

export default {
  name: 'MainView',
  data () {
    return {
      movies: [],
      isModalVisible: false,
      selectedMovie: null
    }
  },
  created: function () {
    this.getMovieList()
  },
  methods: {
    getMovieList () {
      this.$http
        .get('http://localhost:8888/wordpress/wp-json/wp/v2/movie?per_page=100')
        .then(response => {
          this.originalMovies = response.body
          this.movies = response.body
        })
    },
    showModal (movie) {
      this.selectedMovie = movie
      this.isModalVisible = true
      document.body.style.overflow = 'hidden'
      setTimeout(() => {
        document.getElementById('modal-wrapper').style.top = window.pageYOffset + 'px'
      }, 0)
    },
    onClose () {
      this.selectedMovie = null
      this.isModalVisible = false
      document.body.style.overflow = 'scroll'
    },
    filterByType (type) {
      if (this.isModalVisible) {
        this.onClose();
      }

      this.movies = this.originalMovies;
      if (type === 'all') {
        return this.movies;
      }

      this.movies = this.movies.filter((movie) => {
        if (movie.Genres[0]) {
            return movie.Genres[0].slug === type
          }
      })
    },
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
header {
  width: 100%;
  height: 300px;
  background-image: url("../assets/scott-webb-1486563-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  text-align: left;
  width: 80%;
  margin: 0 auto;
  border-bottom: 3px solid #3dbd5d;
  padding-bottom: .1em;
  color: white;
  padding-top: 3em;
}

.movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 95%;
  margin: 0 auto;
}

main {
  position: absolute;
  top: 200px;
  left: 50%;
  background-color: white;
  width: 80%;
  transform: translateX(-50%);
  border-radius: 4px;
}

nav {
  padding: 1.5em;
  margin-bottom: 2em;
  border-bottom: 1px solid #3dbd5d;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

nav > a {
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

nav > a:hover {
  transform: scale(1.1);
  color: #3dbd5d;
}

img {
  width: 250px;
  height: auto;
}

.movie {
  width: 250px;
  margin: 0 1em 3em;
  cursor: pointer;
  border: 1px solid #e2e2e2;
  transition: transform 0.2s ease-in-out;
}

.movie:hover {
  transform: scale(1.1);
}

h2 {
  margin-top: 0.5em;
  margin-bottom: 0;
  line-height: 1;
  font-size: 1em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.movie-info {
  text-align: left;
  padding: 0 1em 1em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
</style>
