<template>
  <div id="modal-wrapper" class="wrapper">
    <div class="modal">
      <div class="image-wrapper">
        <img v-bind:src="selectedMovie._movie_image">
      </div>

      <div class="info-wrapper">
        <h1> {{ selectedMovie._movie_title }}</h1>

        <div>
          <span>{{ selectedMovie._movie_directorName }}, </span>
          <span>{{ selectedMovie._movie_year }}</span>
        </div>

        <div>
          <a class="genre-filter" @click="filterByType(selectedMovie.Genres[0].slug)">{{ selectedMovie.Genres[0].name}}, </a>
          <span>{{ selectedMovie._movie_duration }} min</span>
        </div>

        <div class="summary">
          {{ selectedMovie._movie_summary }}
        </div>

        <div>
          <a v-bind:href="selectedMovie._movie_trailer" target="_blank">{{ selectedMovie._movie_trailer }}</a>
        </div>
      </div>

      <div>
         <a class="close" @click="onClose()">&times;</a>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Modal',
  props: ['selectedMovie', 'onClose', 'filterByType'],
  created: function () {

  }
}
</script>

<style scoped>
  .wrapper {
    display: flex;
    justify-content: space-around;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, .6);
    z-index: 1;
  }

  .modal {
    background: white;
    width: 60%;
    height: 500px;
    margin: 0 auto;
    margin-top: 10em;
    display: flex;
  }

  .image-wrapper {
    width: 39%;
    overflow: hidden;
    height: 100%;
  }

  .image-wrapper > img {
    max-height: 100%;
  }

  .close {
    font-size: 2em;
    padding: 2em .5em 0 0;
    cursor: pointer;
  }

  .close:hover {
    color: #3dbd5d;
  }

  .genre-filter {
    color: #3dbd5d;
    cursor: pointer;
    text-decoration: underline;
  }

  h1 {
    font-size: 1.5em;
  }

  .info-wrapper {
    max-width: 56%;
    text-align: left;
    padding-left: 1em;
  }

  .summary {
    padding: 2em 0 ;
  }

  @media screen and (max-width: 800px) {
    .modal {
      width: 80%;
      flex-direction: column;
    }
    .close {
      text-align: right;
      padding: 0;
    }

    .image-wrapper {
      width: 100%;
    }

    .image-wrapper > img {
      max-height: inherit;
      width: 100%;
    }

    .info-wrapper {
      width: 100%;
    }
  }

 </style>
