<template>
  <div id="app">
    <MainView/>
    <Modal v-if="showModal"/>
  </div>
</template>

<script>
import MainView from './components/MainView'

export default {
  name: 'App',
  components: {
    MainView
  }
}
</script>

<style>
body {
  margin: 0;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
